fit:
  seed_everything: null
  trainer:
    logger:
      class_path: pytorch_lightning.loggers.wandb.WandbLogger
      init_args:
        project: griffon
    checkpoint_callback: null
    enable_checkpointing: true
    callbacks:
      - class_path: pytorch_lightning.callbacks.model_checkpoint.ModelCheckpoint
        init_args:
          monitor: validation_accuracy
          dirpath: /root/scratch/griffon/griffon/checkpoints
          filename: sample-count-{epoch:02d}-{validation_accuracy:.3f}
          save_top_k: 3
          mode: max
    default_root_dir: null
    gradient_clip_val: null
    gradient_clip_algorithm: null
    process_position: 0
    num_nodes: 1
    num_processes: 1
    devices: null
    gpus: 1
    auto_select_gpus: false
    tpu_cores: null
    ipus: null
    log_gpu_memory: null
    progress_bar_refresh_rate: null
    enable_progress_bar: true
    overfit_batches: 0.0
    track_grad_norm: -1
    check_val_every_n_epoch: 1
    fast_dev_run: false
    accumulate_grad_batches: 400
    max_epochs: 20
    min_epochs: null
    max_steps: -1
    min_steps: null
    max_time: null
    limit_train_batches: 1.0
    limit_val_batches: 1.0
    limit_test_batches: 1.0
    limit_predict_batches: 1.0
    val_check_interval: 1.0
    flush_logs_every_n_steps: null
    log_every_n_steps: 50
    accelerator: null
    strategy: null
    sync_batchnorm: false
    precision: 32
    enable_model_summary: true
    weights_summary: top
    weights_save_path: null
    num_sanity_val_steps: 2
    resume_from_checkpoint: null
    profiler: null
    benchmark: false
    deterministic: false
    reload_dataloaders_every_n_epochs: 0
    reload_dataloaders_every_epoch: false
    auto_lr_find: false
    replace_sampler_ddp: true
    detect_anomaly: false
    auto_scale_batch_size: false
    prepare_data_per_node: null
    plugins: null
    amp_backend: native
    amp_level: null
    move_metrics_to_cpu: false
    multiple_trainloader_mode: max_size_cycle
    stochastic_weight_avg: false
    terminate_on_nan: null
  model:
    class_path: griffon.models.griffon.Griffon
    init_args:
      count_ckpt: /root/scratch/griffon/models/count.ckpt
      decoder:
        class_path: griffon.models.decoder.decoder.Decoder
        init_args:
          decoder_layer:
            class_path: griffon.models.decoder.decoder.DecoderLayer
            init_args:
              d_model: 1024
              n_head: 8
              dim_feedforward: 2048
              dropout: 0.1
          n_layers: 3
          dropout: 0.1
      pointer:
        class_path: griffon.models.decoder.pointer.PointerNetwork
        init_args:
          subtoken_dim: 512
          num_heads: 4
      optimizer_config:
        loss_fn:
          type: f_loss
          gamma: 2
        lr: 0.1
        warmup_steps: 4000

  data:
    class_path: griffon.dataset.griffon_datamodule.GriffonDataModule
    init_args:
      data_root: /root/scratch/griffon/data
      num_workers: 16

  ckpt_path: null
