name: Pylint

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository and submodules
      uses: actions/checkout@v2
      with:
        submodules: recursive

    - uses: conda-incubator/setup-miniconda@v2
      with:
        auto-update-conda: true
        environment-file: environment.yml

    - name: create CoqGym package
      shell: bash -l {0}
      run: |
        pip install -e CoqGym

    - name: Install dependencies
      shell: bash -l {0}
      run: |
        python -m pip install --upgrade pip
        pip install pylint

    - name: Analysing the code with pylint
      shell: bash -l {0}
      run: |
        pylint --fail-under=8 `find . -name "*.py" -not -path "./CoqGym/*"`
